.black {
  text-color: #353535;
}

.grey {
  text-color: #d2d7df;
}

.blue {
  text-color: #3772ff;
}

.active {
  background-color: #5CB8CC;
}

.inactive {
  background-color: #d2d7df;
}

.right-panel-toggle {
  padding: 0 !important;
}
